@import "theme/theme";

.App {
  position: relative;
  height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  display: block;
  overflow: hidden;

  @media screen and (min-width: 1440px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
  }

}

.left-side{
  display: none;
  width: 100%;
  height: 100%;

  & > img {
      max-width: 100%;
    height: 100%;
  }


  @media screen and (min-width: 1440px){
    display: block;
  }

}





